In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s3e17/sample_submission.csv
/kaggle/input/playground-series-s3e17/train.csv
/kaggle/input/playground-series-s3e17/test.csv

In [2]:
import pandas as pd

In [3]:
df_sample_submission = pd.read_csv("/kaggle/input/playground-series-s3e17/sample_submission.csv")
df_test = pd.read_csv("/kaggle/input/playground-series-s3e17/test.csv")
df_train = pd.read_csv("/kaggle/input/playground-series-s3e17/train.csv")

In [4]:
df_train.head()

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,L50096,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,1,M20343,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,2,L49454,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,3,L53355,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,4,M24050,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0

In [5]:
df_sample_submission.head()

       id  Machine failure
0  136429              0.5
1  136430              0.5
2  136431              0.5
3  136432              0.5
4  136433              0.5

In [6]:
def summary(df):
    print (f'data shape: {df.shape}')
    summ = pd.DataFrame(df.dtypes, columns=['Data Type'])
    summ['Missing'] = df.isnull().sum().values
    summ['%Missing'] = df.isnull().sum().values/len(df)*100
    summ['Unique'] = df.nunique().values
   
    return summ

In [7]:
summary(df_train)

data shape: (136429, 14)

                        Data Type  Missing  %Missing  Unique
id                          int64        0       0.0  136429
Product ID                 object        0       0.0    9976
Type                       object        0       0.0       3
Air temperature [K]       float64        0       0.0      95
Process temperature [K]   float64        0       0.0      81
Rotational speed [rpm]      int64        0       0.0     952
Torque [Nm]               float64        0       0.0     611
Tool wear [min]             int64        0       0.0     246
Machine failure             int64        0       0.0       2
TWF                         int64        0       0.0       2
HDF                         int64        0       0.0       2
PWF                         int64        0       0.0       2
OSF                         int64        0       0.0       2
RNF                         int64        0       0.0       2